* {
    font-family: "HelveticaNeue-light", "Trebuchet MS", sans-serif;
}
html {
    height: 100%
}
body
{
    height: 100%;
    margin: 0;
    padding: 0;
}
#map-canvas
{
    z-index: 0;
    height: 100%;
    width:100%;
    position: absolute;
    left:0;
    top: 0;
}



/* Clock */
#clock {
    width:320px;
    height:100%;
    position: absolute;
    right:0;
    top: 0;
    background: rgba(255,255,255,0.8);
    z-index: 3;
    border-left: 1px #999 solid;
}
#clock-header {
    border-bottom:1px solid #AAA;
}
#clock-textfield {
    margin: 10px auto;

    display:block;
    font-size:18px;
    width:calc(320+0);
}

#clock-table {

}
.clock-cell {
    position: relative;
    width:100%;
    min-height: 80px;
    border-bottom:1px solid #AAA;
}
.cell-main {
    position: absolute;
    display: block;
    left:0;
    height:77px;
}
.cell-title {
    position: absolute;
    margin: 0;
    left:10px;
    top:10px;
    width:70px;
    height:25px;
    text-align: center;
    font-size:1.6em;
    font-weight: normal;
}
.cell-num-free {
    position: absolute;
    margin: 0;
    top:42px;
    width:70px;
    height: 25px;
    left:10px;
    text-align: center;
    font-size:1.3em;
    font-weight: normal;
}
.cell-rooms-list {
    position: absolute;
    margin: 0;
    top: 17%;
    left: 110px;
    width:200px;
    height: 75%;
    font-size: 15px;
    vertical-align: middle;
}

#clock-footer {
    position: absolute;
    border-top:1px solid #AAA;
    padding-top:5px;
    position:fixed;
    bottom:5px;
    width:320px;
    right:0;
    text-align: center;
    font-size:1.1em;
}

.hidden {
    display: hidden;
}


.green {
    color: #425842;
    text-shadow: 1px 1px #14E114;
}