* {
    font-family: "HelveticaNeue-light", "Trebuchet MS", sans-serif;
}
html {
    height: 100%;
}
body
{
    height: 100%;
    margin: 0;
    padding: 0;
}
#map-canvas
{
    z-index: 0;
    height: 100%;
    width:100%;
    position: absolute;
    left:0;
    top: 0;
}



/* Clock */
#clock {
    width:320px;
    height:100%;
    position: absolute;
    right:0;
    top: 0;
    background: rgba(255,255,255,0.8);
    z-index: 3;
    border-left: 1px #999 solid;    overflow: scroll;
}

@media screen and (max-width: 480px) {
    #clock {
        position: relative;
        margin: 0 auto;
        width:320px;
    }
    #map-canvas {
        display: hidden;
    }
}

#clock-header {
    border-bottom:1px solid #AAA;
}
#clock-textfield {
    margin: 10px auto;

    display:block;
    font-size:18px;
    width:calc(320+0);
}

#clock-table {
    margin-bottom:32px;
    overflow: hidden;
}
.clock-cell {
    position: relative;
    width:100%;
    min-height: 80px;
    border-bottom:1px solid #AAA;
}
.clock-cell:last-child {
    border-bottom: 0;
}
.cell-main {
    position: absolute;
    display: block;
    left:0;
    height:77px;
}
.cell-title {
    position: absolute;
    margin: 0;
    left:10px;
    top:10px;
    width:70px;
    height:25px;
    text-align: center;
    font-size:1.6em;
    font-weight: normal;
}
.cell-num-free {
    position: absolute;
    margin: 0;
    top:42px;
    width:70px;
    height: 25px;
    left:10px;
    text-align: center;
    font-size:1.3em;
    font-weight: normal;
}
.cell-rooms-list {
    position: absolute;
    margin: 0;
    top: 17%;
    left: 100px;
    width:210px;
    height: 75%;
    font-size: 15px;
    vertical-align: middle;
}

#clock-footer {
    background: white;
    position: fixed;
    border-top:1px solid #AAA;
    padding-top:5px;
    position:fixed;
    width:320px;
    height:32px;
    bottom: 0;
    right:0;
    text-align: center;
    font-size:1.1em;
    z-index:5;
}

.hidden {
    display: hidden;
}


#beta {
    position: fixed;
    right:2px;
    bottom: 2px;
    font-size: 13px;
    color: #490085;
    z-index:6;
}

.green {
    color: #425842;
    text-shadow: 1px 1px #14E114;
}